{% extends "regidesk/base.html" %}

{% block header_title %}
    <h1>Boarding pass lookup</h1>
    <p>Please scan or enter boarding pass code and click "Look Up"</p>
{% endblock %}


{% block body %}
    <div>
        <div id="code_div" class="form-group has-feedback has-error">
            <label class="control-label" for="bpcode">Boarding Pass Code</label>
            <input id="bptext" type="text" class="form-control" id="bpcode" placeholder="Code">
            <span id="input_icon" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span id="help_ok" class="help-block" style="display: none;">Format appears OK</span>
            <span id="help_ur" class="help-block" style="display: block;">Format doesn't match</span>
        </div>
        <button id="bpredir" class="btn btn-primary">Submit</button>
        <button id="clear" class="btn btn-danger">Clear</button>
        <a type=button" class="btn btn-info pull-right" href="{% url 'regidesk:boarding_overview' %}">Overview</a>
    </div>
    <script type="text/javascript">
        var code_div = document.getElementById("code_div");
        var icon = document.getElementById("input_icon");
        var tb = document.getElementById("bptext");
        var ok = document.getElementById("help_ok");
        var unk = document.getElementById("help_ur");
        var re = new RegExp('^[A-Z0-9]{6}$');
        document.getElementById("bpredir").onclick = function() {
            location.href = tb.value;
        };
        document.getElementById("clear").onclick = function() {
            tb.value = "";
        };
        tb.oninput = function() {
            is_good = re.test(tb.value);
            if (is_good) {
                code_div.className = "form-group has-feedback has-success";
                icon.className = "glyphicon glyphicon-ok form-control-feedback";
                ok.style.display = "block";
                unk.style.display = "none";
            } else {
                code_div.className = "form-group has-feedback has-error";
                icon.className = "glyphicon glyphicon-remove form-control-feedback";
                ok.style.display = "none";
                unk.style.display = "block";
            }
            console.log(is_good);
        };
    </script>
{% endblock %}
